


{% block head %}

<title>YouTube Analytics App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Domain Specific YouTube Analytics Dashboard</h1>

    <div class="form">
        <form action="/youtube_analytics" method="POST">
            <label for="channel_username" style="text-align: center">Search for specific channel</label>
            <input type="text" name="channel_username" id="channel_username " required>
            <button type="submit">Search</button>


        </form>
    </div>
</div>
{% endblock %}